<h1><%= @page_title = "Update Destination" -%></h1>

      View the page you're editing <%= link_to "here", :controller => 'destination', :action => "show", :id => @destination %>
      <%= render :partial => 'form', :locals => {:destination => @destination} %>
