
/*-----------------------Layout-------------------------------*/
body {margin: 2px; background-color: #FFF; color: #05173C;}
body, p, ol, ul, td {font-family: verdana, arial, helvetica, sans-serif; font-size: 12px;}
.maincontainer {border: 1px solid #CCCCCC; padding: 1px; background-color: #FBFBFB;}
.log {float: right;}
#bottom {clear: both; background-color: #05173C; padding: 5px 10px 5px 10px; font-size: 10px; color: #FFFFFF; text-align: center;}
.content {padding: 20px 40px 20px 0px; margin-left: 195px; height: 1%; line-height: 17px;}
p {margin: 4px 0px 4px 0px; padding: 4px 0px 4px 0px;}
img {border: 0px; float: left; margin: 0px 6px 0px 0px;}

.pagination {text-align: right;}
.left_link {float: left;}

#show {background-color: #FFFFFF; padding: 5px 5px 10px 10px; border: 1px solid #E2E2E2;}
#show p {clear: left;}
#show .indent {width: 160px; color:#000000; font-weight: bold; float: left;}

.message {color: #009933; font-size: 14px; font-weight: bold; padding-bottom: 5px;}
.date {font-weight: bold; background-color: #FFFF00; padding: 2px;}
.orange {color: #FF6600; font-weight: bold;}

/*------------------------------------------------------*/

/*-----------------------links-------------------------------*/
a:link, a:visited, a:active {color: #FF6600; text-decoration: underline; font-weight: normal;}
a:hover {color: #05173C; text-decoration: underline; font-weight: normal;}

#navigation {clear: both;}
#top {background-color: #05173C; padding: 10px 10px 4px 10px; color: #FFFFFF; line-height: normal; text-align: right;}
#top a:link, #top a:visited, #top a:active {color: #FFFFFF; text-decoration: none; font-weight: normal; background-color: #80AAD3; padding: 4px 9px 4px 9px;}
#top a:hover {color: #05173C; text-decoration: none; font-weight: normal; background-color: #FAF9F9;}
#top a.on:link, #top a.on:visited, #top a.on:hover, #top a.on:active {color: #05173C; text-decoration: none; font-weight: normal; background-color: #FAF9F9;}

#subnav {width: 154px; float: left; margin-bottom: 1px;}
#subnav a:link, #subnav a:visited, #subnav a:active {color: #05173C; text-decoration: none; font-weight: normal; background-color: #D9D9D9; border-right: 1px solid #C3C3C3; border-bottom: 1px solid #C3C3C3; display: block; padding: 4px 4px 4px 18px; font-size: 11px; margin: 0px 0px 1px 1px;}
#subnav a:hover {color: #05173C; text-decoration: none; font-weight: normal; background-color: #CAC9C9;}
#subnav a.main:link, #subnav a.main:visited, #subnav a.main:active {color: #FFFFFF; text-decoration: none; font-weight: normal; background-color: #FF6600; display: block; padding: 4px 4px 4px 9px; margin: 2px 0px 1px 1px; border-right: 1px solid #dc5800; border-bottom: 1px solid #dc5800;}
#subnav a.main:hover {color: #FFFFFF; text-decoration: none; font-weight: normal; background-color: #f06101;}

.navtitle  {color: #FFFFFF; text-decoration: none; font-weight: normal; background-color: #05173C; display: block; padding: 4px 4px 4px 9px; margin: 2px 0px 1px 1px; border-right: 1px solid #000000; border-bottom: 1px solid #000000;}

#bottom a:link, #bottom a:visited, #bottom a:active {color: #FFFFFF; text-decoration: none; font-weight: normal;}
#bottom a:hover {color: #FFFFFF; text-decoration: underline; font-weight: normal;}

a.tag_highlight:link {font-size: 12px; color: #000033; background-color: #9CBCDA; font-weight: normal;}
a.tag_highlight:hover {font-size: 12px; color: #000033; background-color: #9CBCDA; font-weight: normal;}
a.tag_highlight:visited {font-size: 12px; color: #000033; background-color: #9CBCDA; font-weight: normal;}
a.tag_highlight:active {font-size: 12px; color: #000033; background-color: #9CBCDA; font-weight: normal;}


.top_links a:link, .top_links a:visited, .top_links a:active {color: #FF660005173C; text-decoration: underline; font-weight: normal; font-size: 11px;}
.top_links a:hover {color: #FF6600; text-decoration: underline; font-weight: normal;}
/*------------------------------------------------------*/

/*-----------------------Forms-------------------------------*/
form {padding: 10px 15px 15px 15px; margin: 10px 0px 10px 0px; overflow: hidden; background-color: #E2EBF3; width: 520px!important;width: 550px}
form p {margin: 10px 0px 0px 0px; padding: 0px; clear: left;}
form p label {color: #05173C; font-size: 12px;}
form input {width: 98%; font-size: 12px; color: #000000; background-color: #FFFFFF; border: 1px solid #CCCCCC;}

#search form {padding: 5px 15px 5px 15px; margin: 10px 0px 10px 0px; overflow: hidden; background-color: #E2EBF3; width: 520px!important;width: 550px}
#search form input {width: 75%; font-size: 12px; color: #000000; background-color: #FFFFFF; border: 1px solid #CCCCCC; margin-right: 5px;}
#search form input.submit {width: 15%; color: #FFFFFF;  background-color: #80AAD3; border: 1px solid #CCCCCC; padding: 2px 8px 2px 8px; font-size: 14px; margin-top: 0px; margin-right: 0px;}

form input.date_field {margin: 0px 3px 0px 0px; font-size: 12px; color: #000000; background-color: #FFFFFF; border: 1px solid #CCCCCC; width: 110px; display: inline; float: left;}
form textarea {width: 98%; font-size: 11px; color: #000000; background-color: #FFFFFF; border: 1px solid #CCCCCC; height: 150px; font-family: verdana, arial, helvetica, sans-serif; font-size: 12px;}
form select {width: auto; font-size: 11px; background-color: #FFFFFF; border: 1px solid #CCCCCC; font-family: verdana, arial, helvetica, sans-serif;}
form textarea.mceEditor {height: 400px; width: 520px;}
form input.checkbox {color: #000000; background-color: #FFFFFF; border: 0px; width: 14px;}
form input.radio {color: #000000; background-color: #FFFFFF; border: 0px; width: 14px;}
form input.submit {width: 15%; color: #FFFFFF;  background-color: #80AAD3; border: 1px solid #CCCCCC; padding: 2px 8px 2px 8px; font-size: 14px; margin-top: 8px; margin-right: 10px;}
fieldset {border: 1px solid #CCCCCC; padding: 10px; position: relative; margin-bottom: 10px;}
legend {padding: 2px 3px 2px 3px; border: 1px solid #CCCCCC; background-color: #EEEEEE;}
form img {float: left; margin: 1px 0px 0px 0px;}
form .group_block {background-color: #D2E0EE; padding: 5px 5px 5px 5px;}

form.login {margin: 30px 0px 30px 0px; padding: 15px 25px 25px 25px;}
form.login p {margin: 15px 0px 0px 0px; padding: 0px;}
form.login p input {width: 98%; font-size: 24px;}
form.login input.submit {width: 15%; color: #FFFFFF; background-color: #80AAD3; border: 1px solid #CCCCCC; padding: 4px 8px 4px 8px; font-size: 22px; margin-top: 8px; margin-right: 10px;}

.help {background-color: #FDF8F4; padding: 5px; font-size: 11px; border-top: 1px solid #FF6600; border-right: 2px solid #FF6600; border-bottom: 2px solid #FF6600; border-left: 1px solid #FF6600; color: #FF6600; margin: 1px 0px 4px 0px;}

.grey_bg {background-color: #E2E2E2; border-top: 1px solid #CCCCCC; border-bottom: 1px solid #CCCCCC; margin-bottom: 10px; padding: 0px 0px 0px 0px;}
/*------------------------------------------------------*/

/*-----------------------Tables-------------------------------*/
table, tr, td {font-family: verdana, arial, helvetica, sans-serif; font-size: 10px; background-color: #FFFFFF; line-height: normal;}
table {border-collapse: collapse; margin: 10px 0px 10px 0px; border-bottom: 2px solid #E2E2E2;}
td {text-align: left; padding: 5px 4px 5px 4px; border: 1px solid #FAF9F9;}
th {font-weight: normal; text-align: left; padding: 4px 6px 4px 6px; border: 1px solid #FAF9F9; background-color: #E2E2E2; color: #666666;}
.colour {background-color: #F3F9FF;}
.grey_font {color: #999999;}
/*------------------------------------------------------*/

/*-----------------------Horizontal Rule-------------------------------*/
hr {border: 0px; border-bottom: 1px; color: #CCCCCC; border-bottom-style: solid; height: 0px; clear: both; margin: 0px 0px 10px 0px!important; margin: 0px 0px 0px 0px; padding: 10px 0px 0px 0px!important; padding: 0px 0px 0px 0px;}
/*------------------------------------------------------*/

/*-----------------------Titles-------------------------------*/
#top h1 {color: #FFFFFF; font-size: 18px; font-weight: normal; margin: 0px 0px 7px 0px; padding: 0px 0px 7px 0px; line-height: normal; float: left;}
h1 {color: #FF6600; font-size: 18px; font-weight: normal; margin: 0px 0px 5px 0px; padding: 0px 0px 5px 0px; line-height: normal;}
h2 {color: #FF6600; font-size: 14px; font-weight: normal; margin: 15px 0px 0px 0px; padding: 15px 0px 0px 0px; line-height: normal;}
h3 {color: #05173C; font-size: 12px; font-weight: bold; margin: 12px 0px 0px 0px; padding: 12px 0px 0px 0px; line-height: normal;}
/*------------------------------------------------------*/

/*-----------------------Home-------------------------------*/
.home_text {background-color: #FFFFFF; border-bottom: 2px solid #E2E2E2; border-right: 1px solid #E2E2E2; border-top: 1px solid #E2E2E2; border-left: 1px solid #E2E2E2; padding: 0px 20px 0px 20px; line-height: 20px;}
.home_text li {padding-bottom: 10px;}

.blue_tab {color: #FFFFFF; background-color: #80AAD3; padding: 4px 9px 4px 9px;}
.orange_link {color: #FFFFFF; background-color: #FF6600; padding: 4px 9px 4px 9px; border-right: 1px solid #dc5800; border-bottom: 1px solid #dc5800; font-size: 11px;}
.grey_link {color: #05173C; background-color: #D9D9D9; border-right: 1px solid #C3C3C3; border-bottom: 1px solid #C3C3C3; padding: 4px 9px 4px 9px; font-size: 11px;}
.form_button {color: #FFFFFF; background-color: #80AAD3; border: 1px solid #CCCCCC; padding: 4px 9px 4px 9px; font-size: 14px;}
/*------------------------------------------------------*/
