/*--Main--*/
body {
	margin: 0px;
	text-align: center;
}

.inner {
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	width: 925px;
}

.image {
	border: 1px solid #000000;
	float: left;
	margin: 3px 8px 8px 0px;
}

.image_right {
	float: right;
	margin: 3px 0px 0px 20px;
}


p.skip {
	position: absolute;
	left: -9999px;
	width: 0px;
	overflow: hidden;
}

.clear {
	clear: both;
}


.message {
	color: #990000;
	font-weight: bold;
}

.highlight {
	color: #1674a3;
	font-size: 18px;
	line-height: 25px;
}

.status {
	color: #ffef3a;
	font-size: 15px;
	line-height: 20px;
	background-color: #000000;
	padding: 0px 30px 10px 30px;
}
.status p {
	padding: 0px;
}

h2.status_title  {
	background-color: #000000;
	color: #ffef3a;
	margin: 0px;
	padding: 5px 30px 0px 30px;
	font-size: 20px;
	font-weight: bold;
}

.large {
	font-size: 17px;
	line-height: 22px;
}

.small {
	font-size: 10px;
}

.font_small {
	font-size: 12px;
	line-height: 16px;
}

.bread_crumbs {
	border-left: 10px solid #000000;
	margin: 0px 0px 20px 0px;
	font-size: 12px;
}

.bread_crumbs a:link, .bread_crumbs a:visited, .bread_crumbs a:active {
	color: #000000;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	padding: 2px 6px 3px 6px;
	background-color: #d0ebf7;
}

.bread_crumbs a:hover {
	color: #1674a3;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
}

h1.home_title {
	color: #000000;
	font-size: 35px;
	font-weight: normal;
	margin: 0px 0px 25px 0px;
	padding: 0px 0px 15px 0px;
	line-height: 36px;
	font-family: 'Arial Black', Arial, sans-serif;
	letter-spacing: -2px;
	background-image: url(../images/home_title_line.gif);
	background-repeat: no-repeat;
	background-position: bottom;
}

/*--Top--*/
.top {
	height: 103px;
	padding: 22px 0px 0px 20px;
	background-color: #a7dff9;
}

.top_home {
	height: 103px;
	padding: 22px 0px 0px 20px;
	background-color: #ffffff;
}

.top_home_main {
	height: 305px;
	background-color: #a7dff9;
	padding: 15px 0px 0px 0px;
	position: relative;
}

.top_home_main .inner {
	background-image: url(../images/top_home_main_bg.gif);
	background-repeat: no-repeat;
	background-position: right;
	height: 263px;
}

.home_banner_container {
	position: absolute;
	width: 925px;
}

.banner_controls {
	position: absolute; 
	top: 294px;
	width: 573px;
	text-align: center;
}

.banner_controls a:link, .banner_controls a:visited, .banner_controls a:active {
	display: inline-block;
	height: 20px;
	width: 21px;
	background-image: url(../images/home_banner_circle.gif);
	background-repeat: no-repeat;
	margin: 0px 1px 0px 1px;
}

.banner_controls a:hover, .banner_controls a.highlight:link, .banner_controls a.highlight:visited, .banner_controls a.highlight:hover, .banner_controls a.highlight:active {
	background-position: -21px 0px;
}

.top_home_main h1 {
	font-size: 34px;
 	margin: 0px;
	padding: 0px;
}

/*--Top Left--*/
.top_home_left {
	width: 573px;
	float: left;
}

.top_home_pic {
	width: 573px;
	height: 278px;
	position: relative;
}

.home_main_trip_img {
	margin: 5px 0px 0px 10px;
}

.top_home_pic span {
	position: absolute;
	background-image: url(../images/home_top_pic_overlay.png);
	width: 573px;
	height: 278px;
	top: 0px;
	left: 0px;
}

.home_comments_box {
	background-color: #d0ebf7;
	border-bottom: 1px dotted  #000000;
	padding: 15px 20px 15px 20px;
	font-size: 15px;
	line-height: 20px;
	margin-bottom: 20px;
	font-family: Georgia, "Times New Roman", Times, serif;
}


.home_comments_box span, .comments_box span {
	font-size: 11px;
	font-style: italic;
}

.comments_box {
	padding: 0px 10px 0px 10px;
}


/*--Top Right--*/
.top_home_right {
	width: 300px;
	float: right;
}

.top_home_right h2 {
	margin: 0px 0px 5px 0px;
	padding: 0px;
	font-size: 20px;
	line-height: 24px;
}

.top_home_right h2 a:link, .top_home_right h2 a:visited, .top_home_right h2 a:active {
	color: #000000;
	text-decoration: none;
	font-weight: normal;
}

.top_home_right h2 a:hover {
	color: #1674a3;
	text-decoration: none;
	font-weight: normal;
}

.home_next_trip {
	background-image: url(../images/home_next_trip_bg.gif);
	width: 260px;
	height: 120px;
	background-repeat: no-repeat;
	padding: 55px 20px 0px 20px;
	font-size: 12px;
}

.home_white_box {
	background-image: url(../images/home_white_box_bg.gif);
	width: 240px;
	height:249px;
	background-repeat: no-repeat;
	padding: 30px 30px 0px 30px;
	font-size: 12px;
}

/*--Nav--*/
.logo {
	float: left;
}

.top_navs {
	float: right;
	text-align: right;
	margin-top: 10px;
}

.nav {
	margin: 0px 5px 5px 0px;
	line-height: 20px;
}

.nav a:link, .nav a:visited, .nav a:active {
	color: #000000;
	text-decoration: none;
	font-weight: normal;
	padding: 5px 5px 5px 5px;
}

.nav a:hover {
	color: #1674a3;
	text-decoration: underline;
	font-weight: normal;
}

a.your_bookings:link, a.your_bookings:visited, a.your_bookings:active, .mini-guides-details a:link, .mini-guides-details a:visited, .mini-guides-details a:active  {
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
	background-color: #000000;
}
  .mini-guides-details a:link, .mini-guides-details a:visited, .mini-guides-details a:active  {
    padding: 8px 3px 7px 3px;
    margin: 15px;
    border: 3px solid #ffef3a;
  }

a.your_bookings:hover, .mini-guides-details a:hover {
	color: #000000;
	text-decoration: none;
	font-weight: bold;
	background-color: #ffef3a;
}


.main_nav {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	word-spacing: normal;
	letter-spacing: 0;
	line-height: 1.4em;
	font-size: 1.3em;
	font-weight: bold;
	margin-top: 15px;
}

.main_nav a:link, .main_nav a:visited, .main_nav a:active {
	color: #000000;
	text-decoration: none;
	font-weight: bold;
	padding: 10px 10px 10px 10px;
	display: block;
	float: right;
}

.main_nav a:hover {
	color: #1674a3;
	text-decoration: none;
	font-weight: bold;
	background-color: #000000;
	color: #FFFFFF;
}


/*--Content--*/
#content {
	width: 534px;
	line-height: 20px;
	float: left;
	margin: 30px 0px 0px 0px;
}

#content_long {
	line-height: 20px;
	margin: 30px 0px 0px 0px;
}

#spinner {
  float: left;
  margin: 0px 20px 0px 0px;
}

#wait {
	float: left;
	padding: 5px 8px;
  background-color: #CFC;
  border: solid 1px #6C6;
  color: #278154;
}


/*--Right--*/
.right {
	width: 340px;
	padding-top: 25px;
	background-repeat: no-repeat;
	float: right;
	margin: 20px 0px 0px 0px;
}

.right h2 {
	font-size: 21px;
	margin: 0px;
	padding: 0px;
}

.padding {
	padding: 20px 30px 0px 30px;
}


/*--Right Main--*/
#right_main {
	background-image: url(../images/blue_bg.gif);
	height: 1%;
}

/*--Right Your Booking--*/
a.your_booking:link, a.your_booking:visited, a.your_booking:hover, a.your_booking:active {
	text-indent: -9999px;
	display: block;
	background-image: url(../images/your_booking_button.gif);
	width: 337px;
	height: 126px;
	margin-bottom: 25px;
}

/*--Right Tweet--*/
h2.tweet {
	background-image: url(../images/title_tweet.gif);
	height: 51px;
	background-repeat: no-repeat;
	text-indent: -9999px;
	margin: 0px 0px 12px 0px;
	padding: 0px;
}

/*--Right Our Next Trip--*/
h2.our_next_trip {
	background-image: url(../images/title_our_next_trip.gif);
	height: 42px;
	background-repeat: no-repeat;
	margin: 10px 0px 0px 0px;
	padding: 4px 0px 0px 12px;
}

.right_trip_pic {
	background-image: url(../images/small_pic_bg.gif);
	width: 101px;
	height: 65px;
	background-repeat: no-repeat;
	float: left;
	margin: 8px 10px 0px 0px;
	padding: 7px 0px 0px 6px;
}

.right h3, h3 a:link, h3 a:visited, h3 a:active{
	margin: 4px 0px 0px 0px;
	padding: 4px 0px 0px 0px;
	color: #000000;
}

h3 a:hover {
	color: #1674a3;
	text-decoration: none;
	font-weight: bold;
}


/*--Right Accounts--*/
h2.padlock {
	background-image: url(../images/title_padlock.gif);
	height: 67px;
	background-repeat: no-repeat;
	margin: 10px 0px 0px 0px;
	padding: 18px 0px 0px 15px;
}

ul.tick_bullets {
	margin-top: 0px;
	padding-top: 0px;
	margin-left: 0px;
	padding-left: 0px;
}

ul.tick_bullets li {
	font-size: 18px;
	font-weight: bold;
	background-image: url(../images/bullet_tick.gif);
	margin: 0px;
	padding: 8px 0px 15px 28px;
	background-position: 0px 0px;
	line-height: 20px;
}


/*--Right Reasons--*/
ul.star_bullets {
	margin-left: 0px;
	padding-left: 0px;
}

ul.star_bullets li {
	font-size: 18px;
	font-weight: bold;
	background-image: url(../images/bullet_star.gif);
	margin: 0px;
	padding: 8px 0px 15px 28px;
	background-position: 0px 3px;
	line-height: 20px;
}


/*--Payment Types--*/
.payment_types {
	margin-top: 30px;
}

.payment_types img {
	float: left;
	display: inline;
	margin-right: 4px;
}

/*--Bottom--*/
.bottom {
	clear: both;
	background-image: url(../images/bottom_bg.gif);
	height: 80px;
	background-repeat: no-repeat;
	background-position: 50%;
	padding: 50px 0px 0px 70px;
}

.bottom h2 {
	float: left;
	display: inline;
	width: 177px;
	margin: 9px 0px 0px 0px;
	padding: 0px;
}

.bottom .inner div {
	float: left;
	width: 41px;
	margin-right: 32px;
}

.bottom h2 {
	font-size: 21px;
}


/*--Footer--*/
#footer {
	height: 110px;
	padding-top: 30px;
	color: #FFFFFF;
	background-color: #000000;
	background-image: url(../images/footer_bg.gif);
	background-repeat: repeat-x;
	background-position: top;
	font-size: 12px;
	line-height: 18px;
	clear: both;
}

#footer a:link, #footer a:visited, #footer a:active {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: normal;
	padding: 0px 3px 0px 3px;
}

#footer a:hover {
	color: #FFFFFF;
	text-decoration: underline;
	font-weight: normal;
}

.footer_left {
	float: left;
	width: 600px;
}

.footer_right {
	float: right;
	width: 240px;
	text-align: center;
}

/*--Forms--*/
form {
	padding: 0px;
	margin: 20px 0px 20px 0px;
}

form p {
	margin: 0px 0px 6px 0px;
	padding: 0px;
}
  .field {
    margin: 0 0 7px 0;
    padding: 0;
  }

form p label {
	float: left;
	width: 170px;
}

form p label.long, .field label.long {
	float: left;
	width: 195px;
}

form p label.none, .field label.none {
	float: none;
	width: auto;
}

form input, .field select {
	font-size: 12px;
	color: #000000;
	background-color: #d0ebf7;
	border: 3px solid #000000;
	padding: 10px;
	width: 330px;
}
  .field select {
    width: 356px;
  }

form input.med {
	font-size: 12px;
	color: #000000;
	background-color: #d0ebf7;
	border: 3px solid #000000;
	padding: 10px;
	width: 142px;
}


form input.short {
	font-size: 12px;
	color: #000000;
	background-color: #d0ebf7;
	border: 3px solid #000000;
	padding: 10px;
	width: 142px;
	margin-left: 5px;
}

form textarea {
	font-size: 12px;
	color: #000000;
	background-color: #d0ebf7;
	border: 3px solid #000000;
	width: 330px;
	height: 136px;
	padding: 10px;
	font-family: Arial, Tahoma, sans-serif;
}

form select {
	background-color: #d0ebf7;
	border: 3px solid #000000;
	font-size: 12px;
	padding: 10px;
	width: 142px;
}

form input.file {
	background-color: #d0ebf7;
	border: 3px solid #000000;
	font-size: 12px;
	padding: 10px;
}

form fieldset {
	border: 1px solid #CCCCCC;
	padding: 10px;
	position: relative;
	margin-bottom: 10px;
}

form legend {
	padding: 5px;
	border: 1px solid #000000;
	background-color: #d0ebf7;
	font-size: 12px;
	font-weight: bold;
}

form input.checkbox {
	color: #000000;
	background-color: #FFFFFF;
	border: 0px;
	width: 14px;
}

form input.radio {
	color: #000000;
	background-color: #FFFFFF;
	border: 0px;
	width: 14px;
}

form input.submit {
	width: auto;
	height: 41px;
	padding: 0px 5px 0px 5px;
	font-size: 16px;
	float: right;
	color: #ffef3a;
	background-color: #000000;
	border: 3px solid #ffef3a;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}
  form .actions {
    clear: both;
    float: left;
    margin-top: 11px;
  }
  form .actions input {
    float: none;
    margin: 3px 0 15px 0;
    cursor: pointer;
  }

form input.submit_add {
	width: auto;
	height: 41px;
	padding: 0px 5px 0px 5px;
	font-size: 16px;
	margin-left: 160px;
	color: #ffef3a;
	background-color: #000000;
	border: 3px solid #ffef3a;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

form input.submit_none {
	width: auto;
	height: 41px;
	padding: 0px 5px 0px 5px;
	font-size: 16px;
	float: none;
	color: #ffef3a;
	background-color: #000000;
	border: 3px solid #ffef3a;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

a.form_button:link, a.form_button:visited, a.form_button:hover, a.form_button:active {
	padding: 8px 10px 8px 10px;
	font-size: 16px;
	margin: 0px 1px 0px 10px;
	color: #ffef3a;
	background-color: #000000;
	border: 3px solid #ffef3a;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}


/*--News Layout--*/
#news_nav ul {
	margin: 10px 0px 0px 0px;
	padding: 0px;
	font-size: 14px;
}

#news_nav ul li {
	list-style-type: none;
	background-image: none;
	padding: 0px 0px 4px 0px;
}

#news_nav ul ul {
	margin: 0px;
	padding: 0px;
}

#news_nav ul li li {
	list-style-type: none;
	background-image: none;
	padding: 0px 0px 4px 10px;
	margin: 0px 0px 0px 10px;
}


.pagecount {
	text-align: right;
	margin: 0px;
	padding: 10px 0px 0px 0px;
}

.category {
	padding-top: 15px;
	font-size: 10px;
}

/*--Tables--*/
table, tr, td {
	font-family: Arial, Tahoma, sans-serif;
}

table {
	border-collapse: collapse;
	margin: 10px 0px 15px 0px;
}

td {
	text-align: left;
	padding: 5px;
	border: 1px solid #cccccc;
}

th {
	font-weight: bold;
	text-align: left;
	padding: 5px 5px 5px 5px;
	border: 1px solid #000000;
	font-size: 12px;
	background-color: #d0ebf7;
}

.red {
	color: #990000;
}

.discount_name {
	font-size: 12px;
	line-height: 14px;
}

p.discount_offer {
	padding: 7px 15px 7px 15px;
	border: 3px solid #990000;
	text-align: center;
	margin: 12px 12px 12px 12px;
	color: #990000;
	font-weight: bold;
	font-size: 15px;
	line-height: 20px;
}

/*--Home--*/
.photos_left {
	float: left;
	width: 241px;
	margin-top: 20px;
}

h2.your_photos {
	background-image: url(../images/title_your_photos.gif);
	height: 39px;
	background-repeat: no-repeat;
	margin: 0px 0px 10px 0px;
	padding: 2px 0px 0px 9px;
	font-size: 18px;
}

h2.your_photos_grey {
	background-image: url(../images/title_your_photos_grey.gif);
	height: 39px;
	background-repeat: no-repeat;
	margin: 0px 0px 10px 0px;
	padding: 2px 0px 0px 9px;
	font-size: 18px;
}

.photos_pic {
	position: relative;
	width: 53px;
	height: 52px;
	float: left;
	display: inline;
	margin: 0px 9px 9px 0px;
	border: 3px solid #FFFFFF;
}

.photos_pic span {
	position: absolute;
	top: 0px;
	left: 0px;
	display: block;
	background-image: url(../images/sm_pic_overlay.png);
	width: 53px;
	height: 52px;
}

.videos_right {
	float: right;
	width: 246px;
	margin-top: 20px;
}

h2.videos {
	background-image: url(../images/title_videos.gif);
	height: 39px;
	background-repeat: no-repeat;
	margin: 0px 0px 8px 0px;
	padding: 2px 0px 0px 9px;
	font-size: 18px;
}

h2.videos_grey {
	background-image: url(../images/title_videos_grey.gif);
	height: 38px;
	background-repeat: no-repeat;
	margin: 0px 0px 8px 0px;
	padding: 2px 0px 0px 9px;
	font-size: 18px;
}

.large_background {
	background-image: url(../images/large_pic_bg.gif);
	width: 234px;
	height: 159px;
	padding: 14px 0px 0px 11px;
}

.videos_main {
	float: left;
	display: inline;
	width: 245px;
	height: 212px;
	margin: 0px 10px 10px 10px;
}

.large_background a:link img, .large_background a:visited img, .large_background a:hover img, .large_background a:active img {
	border: 0px;
}


a.see_all:link, a.see_all:visited, a.see_all:hover, a.see_all:active {
	font-size: 11px;
	margin: -48px 0px 0px 0px;
	float: right;
}

a.share:link, a.share:visited, a.share:hover, a.share:active {
	font-size: 11px;
	margin: -55px 0px 0px 0px;
	float: right;
	background-image: url(../images/facebook_sm.gif);
	background-repeat: no-repeat;
	background-position: right;
	padding: 6px 23px 2px 0px;
}

/*--Our Trips--*/
.large_background_main {
	background-image: url(../images/large_pic_main_bg.gif);
	width: 185px;
	height: 149px;
	padding: 12px 0px 0px 12px;
	float: left;
	margin: 14px 20px 5px 0px;
}

a.more:link, a.more:visited, a.more:active {
	color: #000000;
	text-decoration: none;
	font-weight: bold;
	font-size: 10px;
	background-image: url(../images/more_bg.gif);
	background-repeat: no-repeat;
	width: 130px;
	height: 26px;
	float: right;
	display: block;
	text-align: center;
	padding-top: 2px;
}

a.more:hover {
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}

div.hr {
	background-image: url(../images/hr.gif);
	background-repeat: no-repeat;
	width: 509px;
	height: 7px;
	clear: both;
	border: 0px;
	padding: 0px;
	margin: 10px 0px 10px 10px;
}

div.hr hr {
	display: none;
}


h2.past_trips {
	text-indent: -9999px;
	background-image: url(../images/title_past_trips.gif);
	width: 182px;
	height: 65px;
	padding: 0px;
	margin: 30px 0px 0px 0px;
}

h2.past_trips_grey {
	text-indent: -9999px;
	background-image: url(../images/title_past_trips_grey.gif);
	width: 181px;
	height: 61px;
	position: relative;
	top: -18px;
	left: 17px;
	margin: 0px;
	padding: 0px;
}

h2.comments {
	font-size: 18px;
	background-image: url(../images/title_comments.gif);
	height: 40px;
	background-repeat: no-repeat;
	padding: 0px 0px 0px 10px;
	margin: 0px 0px 8px 0px;
}



a.large_link:link, a.large_link:visited, a.large_link:active {
	color: #000000;
	text-decoration: none;
	font-weight: bold;
	font-family: 'Arial Black', Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
}

a.large_link:hover {
	color: #1674a3;
	text-decoration: underline;
	font-weight: bold;
}

.date_highlight {
	padding: 6px 8px 6px 8px;
	background-color: #000000;
	color: #ffef3a;
	font-weight: bold;
	margin: 2px 0px 0px 0px;
}

.date_highlight a:link, .date_highlight a:visited, .date_highlight a:active {
	color: #ffef3a;
	text-decoration: none;
	font-weight: bold;
}

.date_highlight a:hover {
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
}

.date_highlight_sm {
	padding: 3px 0px 3px 0px;
	background-color: #000000;
	color: #ffef3a;
	font-weight: bold;
	margin: 2px 8px 2px 0px;
	font-size: 11px;
	width: 107px;
	display: block;
	float: left;
	text-align: center;
}


a.book_now:link, a.book_now:visited, a.book_now:active {
	text-indent: -9999px;
	display: block;
	background-image: url(../images/home_book_now_arrow.gif);
	height: 92px;
	width: 256px;
	background-repeat: no-repeat;
}

a.book_now:hover {
	background-position: -256px 0px;
}


a.book_now_white:link, a.book_now_white:visited, a.book_now_white:active {
	text-indent: -9999px;
	display: block;
	background-image: url(../images/book_now_arrow.gif);
	height: 92px;
	width: 256px;
	background-repeat: no-repeat;
}

a.book_now_white:hover {
	background-position: -256px 0px;
}

.right_our_trips {
	background-image: url(../images/right_bg_sm.gif);
	height: 327px;
	margin-bottom: 20px;
}

.right_our_trips_stretch {
	background-image: url(../images/right_bg_sm_stretch.gif);
	background-repeat: no-repeat;
	margin-bottom: 20px;
	height: 1%;
	line-height: 16px;
	font-size: 12px;
}

.right_our_trips_stretch_grey {
	background-image: url(../images/right_bg_grey_stretch.gif);
	background-repeat: no-repeat;
	margin: 0px 0px 20px 0px;
	height: 1%;
}

h2.our_trips  {
	background-image: url(../images/title_our_trips.gif);
	width: 183px;
	height: 64px;
	text-indent: -9999px;
	position: relative;
	top: -11px;
	left: 17px;
	margin: 0px;
	padding: 0px;
}

a.our_trips_link:link, a.our_trips_link:visited, a.our_trips_link:active {
	text-decoration: none;
	font-weight: bold;
	display: inline;
	float: left;
	width: 118px;
	background-color: #000000;
	padding: 6px 8px 6px 8px;
	color: #ffef3a;
	margin: 0px 3px 6px 3px;
}

a.our_trips_link:hover {
	color: #ffef3a;
	text-decoration: underline;
	font-weight: bold;
}

.right_our_trip_pics {
	width: 115px;
	height: 115px;
	background-image: url(../images/our_trips_right_pic_bg.gif);
	background-repeat: no-repeat;
	background-position: bottom;
	float: left;
	display: inline;
	margin: 0px 0px 10px 35px;
}

.right_our_trip_pics a:link, .right_our_trip_pics a:visited, .right_our_trip_pics a:active {
	color: #000000;
	text-decoration: none;
	font-weight: bold;
	font-family: 'Arial Black', Arial, sans-serif;
	font-size: 13px;
}

.right_our_trip_pics a:hover {
	color: #1674a3;
	text-decoration: none;
	font-weight: bold;
}

.right_our_trip_pics img{
	margin: 10px 0px 0px 8px;
}

/*--Right Sign-Up--*/
.sign_up {
	background-image: url(../images/sign_up_pup.gif);
	background-repeat: no-repeat;
	width: 192px;
	height: 93px;
	padding: 50px 100px 0px 10px;
	margin: 0px 0px 0px 30px;
	font-weight: bold;
	font-size: 14x;
	line-height: 20px;
}

.sign_up a:link, .sign_up a:visited, .sign_up a:active {
	color: #bdeaff;
	text-decoration: none;
	font-weight: normal;
	font-size: 14x;
	line-height: 20px;
}

.sign_up a:hover {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: normal;
}


/*--Trips List Page--*/
.trip_list .box {
	float: left;
	width: 425px;
	margin: 10px 15px 14px 15px;
	height: 270px;
}

.trip_list .box_border {
	border: 4px solid #000000;
	height: auto!important;
	height: 1%;
}
.trip_list h2 {
	font-size: 24px;
	line-height: normal;
}

.trip_list h3 {
	font-size: 18px;
	line-height: 20px;
	margin: 0px;
	padding: 8px 15px 8px 15px;
	background-color: #d0ebf7;
}

.trip_list h3 a:link, .trip_list h3 a:visited, .trip_list h3 a:active {
	color: #000000;
	text-decoration: none;
	font-weight: normal;
}

.trip_list h3 a:hover {
	color: #4274a3;
	text-decoration: none;
	font-weight: normal;
}

.trip_list .tagline {
	padding-top: 3px;
	font-size: 12px;
	line-height: 17px;
	font-style: italic;
	display: block;
	color: #4274a3;
	font-weight: bold;
	letter-spacing: normal;
	font-family: Arial, Helvetica, sans-serif;
}

.trip_list .date {
	background-color: #4274a3;
	color: #ffffff;
	font-weight: bold;
	font-size: 12px;
	display: block;
	line-height: 16px;
	padding: 3px 15px 3px 15px;
	text-align: right;
}

.trip_list .status {
	padding: 5px 8px 1px 8px;
	text-align: center;
	font-size: 14px;
	line-height: 20px;
}

.trip_list .picture {
	float: left;
	position: relative;
	z-index: 1;
	border-top: 4px solid #FFFFFF;
	border-right: 9px solid #FFFFFF;
	border-bottom: 6px solid #FFFFFF;
	border-left: 3px solid #FFFFFF;
}

.trip_list .picture span {
	display: block;
	background-image: url(../images/trip_list_pic_overlay.png);
	width: 165px;
	height: 126px;
	background-repeat: no-repeat;
	position: absolute;
	z-index: 2;
	top: 0px;
	left: 0px;
}

.trip_list .picture span.save {
	background-image: url(../images/trip_list_pic_overlay_save.png);
}

.trip_list img {
	margin-top: 3px;
}

.trip_list .text {
	padding: 0px 15px 0px 15px;
	text-align: right;
	position: relative;
	z-index: 1;
}

.trip_list .sold_out {
	background-image: url(../images/sold_out.png);
	width: 153px;
	height: 92px;
	display: block;
	position: absolute;
	background-repeat: no-repeat;
	z-index: 2;
	top: 0px;
	left: 180px;
}

.trip_list .price {
	font-size: 18px;
	font-weight: bold;
	color: #4274a3;
	margin-left: 5px;
}

.trip_list .more {
	margin: 0px 0px 10px 0px;
}

.trip_list_links {
	font-size: 16px;
	color: #1674a3;
	padding-top: 5px;
}

.trip_list_links a:link, .trip_list_links a:visited, .trip_list_links a:active {
	color: #1674a3;
	text-decoration: none;
	font-weight: bold;
	padding: 0px 5px 0px 5px;
}

.trip_list_links a:hover {
	color: #000000;
	text-decoration: underline;
	font-weight: bold;
}


/*--Our Trips Show Page--*/
h2.trip_highlights {
	font-size: 18px;
	background-image: url(../images/title_trip_highlights.gif);
	height: 40px;
	background-repeat: no-repeat;
	padding: 0px 0px 0px 12px;
	margin: 25px 0px 0px 0px;
	clear: both;
}


.bullet_highlight {
	font-size: 14px;
	color: #0a394f;
	font-weight: bold;
}

#trip_highlight_left {
	width: 285px;
	float: left;
	margin-bottom: 10px;
}

.cost {
	font-size: 16px;
	font-weight: bold;
	padding-right: 20px;
	line-height: 23px;
}

.cost_student {
	font-size: 16px;
	font-weight: bold;
	padding-right: 20px;
	line-height: 23px;
	color: #990000;
}

h2.what_you_say {
	background-image: url(../images/title_what_you_say.gif);
	height: 37px;
	background-repeat: no-repeat;
	background-color: #d0ebf7;
	background-position: 10px 5px;
	text-indent: -9999px;
	padding: 0px;
	margin: 0px 0px 3px 0px;
}

.what_say_right {
	width: 225px;
	float: right;
	line-height: 18px;
	margin-bottom: 10px;
}

.what_say_right div, .what_you_say div {
	background-color: #000000;
	border-bottom: 1px dotted  #FFFFFF;
	padding: 7px 10px 7px 10px;
	color: #a7dff9;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	line-height: 18px;
}

.what_say_right span, .what_you_say span {
	font-size: 10px;
	font-style: italic;
	color: #ffff99;
}

.tab_box {
	padding: 5px 30px 20px 30px;
	border: 4px solid #000000;
	clear: left;
	margin-top: -10px!important;
	margin-top: 0px;
}

.tab_box h3 {
	height: 21px;
	background-image: url(../images/title_h2_tab_box_bg.gif);
	background-repeat: repeat-x;
	padding: 0px;
	border-left: 14px solid #000000;
	border-bottom: 3px solid #dedede;
	font-size: 15px;
	margin-top: 16px;
	padding-left: 5px;
}

a.tab_link:link, a.tab_link:visited, a.tab_link:active {
	color: #000000;
	text-decoration: none;
	font-weight: bold;
	background-color: #a7dff9;
	padding: 5px 8px 5px 8px;
	float: left;
	margin: 20px 3px 0px 0px;
	display: inline;
}

a.tab_link:hover {
	color: #a7dff9;
	text-decoration: none;
	font-weight: bold;
	background-color: #000000;
}


a.tab_link_on:link, a.tab_link_on:visited, a.tab_link_on:hover, a.tab_link_on:active {
	color: #a7dff9;
	text-decoration: none;
	font-weight: bold;
	background-color: #000000;
	padding: 5px 8px 5px 8px;
	float: left;
	margin: 20px 3px 0px 0px;
	display: inline;
}

.activity_popup {
	background-color: #d0ebf7;
	padding: 20px;
}

.activity_popup img {
	border: 3px solid #000000;
	float: left;
	margin: 0px 20px 0px 0px;
}

.destination_pic {
  background: white;
	border: 1px solid #000000;
}

.destination_pic_container {
  background: #A7DFF9; 
  position: relative; 
  height: 290px;
}

/*--Bookings--*/
.order {background-color: #f3f3f3; padding: 20px; margin-bottom: 40px;}
.order h2 {margin: 0px; padding: 0px;}
.trip {background-color: #d0ebf7; padding: 30px; border: 2px solid #000000; margin-bottom: 20px;}
.past_trip {background-color: #d0d0d0; padding: 30px; border: 2px solid #000000; margin-bottom: 20px;}

/*--Notices--*/
#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 5px 0px;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
  color: #278154;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
  color: #8f1818;
}

.flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
  color: #8f1818;
}

.basket_item {
  border: 1px solid #000000;
  margin: 5px 0px 5px 0px;
  padding: 2px 2px 2px 2px;
}


/*--Basket Nav--*/
.basket_checkout_navigation {
	float: left;
	margin-top: 0px;
	color: #000000;
	border: 2px solid #000000;
	height: 26px;
}

.basket_checkout_navigation span {
	color: #bdeaff;
	font-size: 12px;
	background-image: url(../images/black_dot.png);
	background-repeat: no-repeat;
	display: block;
	width: 20px;
	height: 18px;
	float: left;
	text-align: center;
	margin: -2px 4px 0px 0px;
	padding-top: 2px;
}

.basket_checkout_navigation div {
	color: #000000;
	text-decoration: none;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	padding: 5px 6px 0px 5px;
	background-color: #cccccc;
	display: block;
	float: left;
	height: 21px;
}

.basket_checkout_navigation a:link, .basket_checkout_navigation a:visited, .basket_checkout_navigation a:active {
	color: #ffffff;
	text-decoration: none;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	padding: 5px 6px 0px 5px;
	background-color: #000000;
	display: block;
	float: left;
	height: 21px;
}

.basket_checkout_navigation a:hover {
	color: #000000;
	text-decoration: none;
	font-weight: normal;
	background-color: #bdeaff;
}

.basket_checkout_navigation a.highlight:link, .basket_checkout_navigation a.highlight:visited, .basket_checkout_navigation a.highlight:hover, .basket_checkout_navigation a.highlight:active {
	color: #000000;
	background-color: #bdeaff;
	color: #000000;
}

fieldset.wide_labels {
  width: 360px;
}

fieldset.wide_labels label {
  width: 280px;
}

/*--Past Trips--*/
.past_trips_left {
	float: left;
	width: 538px;
}

.past_trips_right {
	float: right;
	width: 340px;
}


/*--Benefit Banner--*/
.benefit_container {
	height: 432px;
	position: relative;
	margin-bottom: 20px;
}

.benefit_banner_image {
	width: 572px;
  height: 432px;
	float: left;
	position: relative;
}

.benefit_content {
	background-image: url(../images/blue_transparency.png);
	background-repeat: repeat;
	padding: 15px 30px 15px 30px;
	position: absolute;
	bottom: 22px;
	left: 19px;
	width: 483px;
	font-size: 12px;
	line-height: 16px;
	z-index: 2;
}

.banner_quote {
	margin-top: 0px;
	padding-top: 0px;
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;
}

.benefit_banner_image span {
  background-image: url(../images/home_top_pic_overlay_2.png);
	background-repeat: no-repeat;
	display: block;
	width: 572px;
  height: 432px;
	position: absolute;
	z-index: 3;
}

.benefit_banner_image img {
	margin: 17px 0px 0px 19px;
	z-index: 1;
}

.benefit_banner_listing {
  width: 352px;
	float: right;
	margin-top: 4px;
	position: relative;
	height: 432px;
}

.benefit_banner_listing img {
	float: left;
	margin: 7px 15px 0px 10px;
	border: 2px solid #FFFFFF;
}

.benefit_banner_listing span {
	margin: 10px 0px 0px 0px;
	display: block;
	width: 240px;
	float: left;
}

/* .benefit_banner_listing a:link, .benefit_banner_listing a:visited, .benefit_banner_listing a:active { */
.benefit_banner_listing a {
	display: block;
	background-image: url(../images/home_top_benefit_link.gif);
	height: 59px;
	width: 352px;
	background-repeat: no-repeat;
	margin-top: -6px;
	color: #000000;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
}

.benefit_banner_listing a:hover, .benefit_banner_listing .highlight a {
	background-position: -352px 0px;
	font-weight: bold;
	text-decoration: none;
}


.find_trip {
	margin: 0px 0px 10px 35px;
}

.find_trip a:link, .find_trip a:active, .find_trip a:visited {
	background-image: url(../images/book_now_white_bg.gif);
	width: 246px;
	height: 77px;
	display: block;
	font-size: 30px;
	line-height: 36px;
	color: #ffef3a;
	padding: 20px 0px 0px 30px;
}

.find_trip a:hover {
	color: #FFFFFF;
	text-decoration: none;
}



/*--Home Page--*/
.home_page .intro_text h1 {
	font-size: 44px;
	line-height: 46px;
	background-image: url(../images/home_divider_line.gif);
	background-repeat: no-repeat;
	background-position: bottom;
	padding: 0px 0px 20px 0px;
}

.find_a_trip, .whats_it_like {
	width: 235px;
	padding: 0px;
	margin: 30px 0px 30px 0px;
	font-size: 13px;
	line-height: 18px;
}

.find_a_trip h2, .whats_it_like h2 {
	margin: 0px;
	padding: 0px;
}

.find_a_trip p, .whats_it_like p {
	padding: 2px 10px 3px 10px;
}

.home_page .find_a_trip {
	float: left;
}

.home_page .whats_it_like {
	float: right;
}

.home_page .uni_logos_container {
	margin: 20px 0px 20px 0px;
}

.uni_logos_container {
	margin: 10px 0px 10px 0px;
}

.uni_logos_box {
	background-image: url(../images/home_uni_slider_bg.gif);
	width: 515px;
	height: 176px;
	background-repeat: no-repeat;
	padding: 0px 10px 0px 8px;
	margin: 10px 0px 10px 0px;
	/* ... for the swapping to behave in IE */
		overflow: hidden;
		position: relative;
}

.uni_logos_left, .uni_logos_right {
	float: left;
	height: 91px;
	width: 15px;
	margin-top: 44px;
}

.uni_logos_left a:link, .uni_logos_left a:visited, .uni_logos_left a:hover, .uni_logos_left a:active,
.uni_logos_right a:link, .uni_logos_right a:visited, .uni_logos_right a:hover, .uni_logos_right a:active
 {
	display: block;
	background-repeat: no-repeat;
	height: 91px;
	width: 15px;
	text-indent: -9999px;
}
.uni_logos_left a.off:link, .uni_logos_left a.off:visited, .uni_logos_left a.off:hover, .uni_logos_left a.off:active {
	background-image: url(../images/home_uni_slider_left_off.gif);
}
.uni_logos_left a.on:link, .uni_logos_left a.on:visited, .uni_logos_left a.on:hover, .uni_logos_left a.on:active {
	background-image: url(../images/home_uni_slider_left.gif);
}
.uni_logos_right a.off:link, .uni_logos_right a.off:visited, .uni_logos_right a.off:hover, .uni_logos_right a.off:active {
	background-image: url(../images/home_uni_slider_right_off.gif);
}
.uni_logos_right a.on:link, .uni_logos_right a.on:visited, .uni_logos_right a.on:hover, .uni_logos_right a.on:active {
	background-image: url(../images/home_uni_slider_right.gif);
}

.uni_logos {
	float: left;
	margin: 12px 11px 0px 11px;
	width: 460px;
	height: 150px;
}

.uni_logos img {
	float: left;
	margin: 10px 15px 17px 15px;
}

.flag_logos {
	float: left;
	margin: 23px 11px 0px 11px;
	width: 460px;
	height: 130px;
}

.flag_logos img {
	float: left;
	margin: 10px 13px 10px 12px;
}


.home_page .book_with_confidence {
	float: left;
	width: 245px;
	margin-top: 40px;
}

.home_page .more_reasons {
	float: right;
	width: 245px;
	margin-top: 40px;
}

.book_with_confidence h2, .more_reasons h2 {
	margin: 0px;
	padding: 0px;
	font-size: 26px;
	line-height: 27px;
}

.home_page .book_with_confidence ul, .home_page .more_reasons ul {
	margin-left: 0px;
}

ul.tick_bullets_white li {
	background-image: url(../images/tick_white.gif);
	padding-left: 25px;
}


/*--Home Page Right--*/
.advert_1 {
	background-image: url(../images/advert_1_bg.gif);
	width: 314px;
	height: 279px;
	padding: 30px 13px 0px 13px;
	background-repeat: no-repeat;
	margin-bottom: 25px;
	position: relative;
	text-align: center;
	font-size: 17px;
	line-height: 22px;
}

p.advert_1_text {
	margin: 0px 25px 0px 25px;
	text-align: left;
}

.advert_1 h2 {
	background-image: url(../images/advert_1_title.gif);
	height: 68px;
	margin: 0px 0px 14px 0px;
	padding: 0px;
	background-repeat: no-repeat;
	text-indent: -9999px;
}

a.advert_more:link, a.advert_more:visited, a.advert_more:active {
	color: #000000;
	text-decoration: none;
	font-weight: bold;
	position: absolute;
	right: 40px;
	bottom: 10px;
	font-size: 20px;
	line-height: 26px;
}

a.advert_more:hover {
	color: #000000;
	text-decoration: underline;
	font-weight: bold;
}

.advert_2 {
	background-image: url(../images/advert_2.gif);
	width:340px;
	padding: 0px;
	height: 245px;
	background-repeat: no-repeat;
	margin-bottom: 25px;
	position: relative;
}

.advert_3 {
	background-image: url(../images/advert_3.gif);
	width:340px;
	padding: 0px;
	height: 245px;
	background-repeat: no-repeat;
	margin-bottom: 25px;
	position: relative;
}

.advert_3 a.advert_more:link, .advert_3 a.advert_more:visited, .advert_3 a.advert_more:hover, .advert_3 a.advert_more:active {
	right: 33px;
}


.right_facebook {
	padding: 20px 0px 0px 18px;
}

.right_twitter {
	padding: 15px 18px 5px 18px;
	font-size: 13px;
	line-height: 18px;
}

.right_twitter #twitter_update_list span {
	display: block;
}

.right_twitter ul#twitter_update_list {
	margin: 10px 20px 0px 20px;
	padding: 0px 0px 0px 0px;
}

.right_twitter #twitter_update_list li {
	list-style-type: none;
	background-image: none;
	padding: 0px 0px 8px 0px;
	margin: 0px;
}

.right_youtube {
	padding: 15px 18px 0px 18px;
	text-align: center;
}

.right_partner_logos {
	text-align: center;
}

/*--Special Offers--*/
.special_offers .small {
	font-size: 13px;
	line-height: 17px;
}

.special_offers .highlight {
	font-size: 15px;
	line-height: 20px;
}

.special_offers span {
	display: block;
	padding-top: 30px;
}

.special_offers img {
	float: left;
	margin: 12px 20px 20px 0px;
}

#mini-guides-form {
  float: right;
  width: 42%;
}
  #mini-guides-form form {
    margin-top: 0;
  }  
  #mini-guides-form .field {
    margin-bottom: 20px;
  }  
  #mini-guides-form .field input {
    width: 214px;
  }
  #mini-guides-form .field select {
    width: 240px;
  }
  #mini-guides-form .field .checkbox {
    width: 18px;
  }
  #mini-guides-form .field label {
    width: 148px;
    float: left;
  }
  #mini-guides-form .field .checkbox-label {
    width: 357px;
    float: right;
  }
  #mini-guides-form .actions {
    width: 100%;
    margin: 0;
  }
  #mini-guides-form .actions .submit {
    background: url('/images/download-your-mini-guides-button.jpg') no-repeat;
    width: 389px;
    height: 68px;
    text-indent: -9999px;
    border: 0;
  }
  #mini-guides-form .info {
    margin: 115px 0 0 0;
    padding: 0 15px;
    text-align: center;
    font-size: 11px;
  }

.mini-guides-details {
  font-size: 22px;
  width: 56%;
  line-height: 1.5;
  text-align: center;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}

.paragraph-spacing p {
  margin: 0 20px;
}

.students-image {
  border: 5px solid #000;
  margin: 10px 0;
}