<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>

  <body>
    <h1>New Newsletter Sign Up</h1>

    <p>
      Someone has signed up email sign up form.
    </p>

    <p>
      Email: <%= mail_to @contact.email %> <br />
    </p>
  </body>
</html>