<%% unless @tags.empty? && @years.empty? -%><div id="news_nav">  <%% unless @tags.empty? -%>  <div class="news_title">Categorised <%= print_plural_name %>:</div>  <ul>    <%% for tag in @tags -%>      <li><%%= link_to tag.humanize, :action => 'list', :tag => tag %></li>    <%% end -%>  </ul>  <%% end -%>  <%% unless @years.empty? -%>  <div class="news_title">Archived <%= print_plural_name %>:</div>  <ul>    <li><%%= link_to 'Latest Headlines', :controller => '<%= feature_name %>' %></li>        <%% for year in @years -%>      <li><%%= link_to_remote(year, :update => "months_of_#{year}", :url => {:action => 'ajax_year', :year => year}) %></li>      <li>          <div id="months_of_<%%= year %>">        <%% if year == @year -%>          <%%= render(:partial => 'year', :locals => {:months => @months, :year => year}) %>        <%% end -%>      </div>          </li>    <%% end -%>  </ul>  <%% end -%>  </div><%% end %>