  <%% if <%= singular_name %>.has_picture1? -%>  <%%= scale_image_tag(<%= singular_name %>.picture1, :width => 50, :height => 50, :class => "image", :border => "0", :alt => h(<%= singular_name %>.picture1.image_alt)) %>  <%% end -%>  <%%= link_to h(<%= singular_name %>.name), :controller => '<%= feature_name %>', :action => 'show', :id => <%= singular_name %>.id %><br />  <%%= short_text_date(<%= singular_name %>.date) %>  <br />  <%%= h(<%= singular_name %>.summary).gsub(/\n/, "<br />") %><br />  <div align="right"><%%= link_to "More Details", :controller => '<%= feature_name %>', :action => 'show', :id => <%= singular_name %>.id %></div>