<h1>Edit Accommodation</h1>

<% form_for(@accommodation, :url => {:id => params[:id], :action => :update}, :html => {:method => "post", :multipart => true}) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>