<%% @page_title = "Forgotten Password" %>
<h1><%%= @page_title %></h1>

<%%= render :partial => "<%= singular_name %>/errors" %>

<p>Please enter your username and we will reset your password and email you your login details.</p>

<%% form_tag() do %>
    
  <p>
   <label>Username:</label>
   <%%= text_field_tag :username %>
  </p>
  <p>
    <br />
    <%%= submit_tag "Submit", :class => 'submit' %>
  </p>
  
<%% end %>

