<%
@module_subnav = ""
@module_subnav += link_to(image_tag("admin/list.gif", :alt => " ", :border => "0", :align => "middle", :hspace => "2", :vspace => "2")+ ' List Admins', :action => 'list_users') + "<br />"
@module_subnav += link_to(image_tag("admin/add.gif", :alt => " ", :border => "0", :align => "middle", :hspace => "1", :vspace => "2")+ ' Add Admin', :action => 'new_admin') + "<br />"
%>



