Hi <%= @name %>

Your new password for the Admin Site is : <%= @password %>

Once you're logged on you can change it in the "Edit Info" page.

Kind Regards

The T Media Team

T Media Ltd
32 Scale Lane
Hull
HU1 1LF
 
United Kingdom
 
Tel: (01482) 327230
Fax: (01482) 328933
www.tmedia.co.uk
info@tmedia.co.uk
 
Email scanned for all known viruses.
: : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : : :
