<h2>There was a problem with your Don't be a tourist payment.</h2>

<p><strong><%= @problem %></strong></p>

<p>Please contact us as soon as possible, contact details can be found at <%= auto_link "www.dontbeatourist.co.uk" %></p>
