A someone would like to reserve a trip

Name: <%= @params[:name] %>
Trip: <%= @trip.name_dates %>
Men: <%= @params[:male_bookings] %>
Women: <%= @params[:female_bookings] %>
Email: <%= @params[:email] %>
Phone: <%= @params[:phone] %>
