Hi <%= @user.name %>

Thanks for signing up for the Don't be a Tourist. We hope you find it useful, and fun.
Your username is: <%= @user.username %>
Your password is: <%= @new_password %>

Go to http://www.dontbeatourist.co.uk to log into your account.
