<% @page_title = "Forgotten Password" %><h1>Forgotten Password</h1>  <p>    Please enter your username below and we will send you a new password.  </p>  <%= form_tag %>    <p>      <label for="admin_name">Username</label>      <%= text_field('admin', 'name')%>    </p>    <p>      <%= submit_tag "Send", :class => 'submit' %>    </p>  </form>  <p><%= link_to "Go back to login", :action=>"login" %></p>