<div class="payment_types">
  <%= image_tag "logo_maestro.gif", :alt => "Maestro", :border => "0", :hspace => "0", :vspace => "0" %>
  <%= image_tag "logo_mastercard.gif", :alt => "Mastercard", :border => "0", :hspace => "0", :vspace => "0" %>
  <%= image_tag "logo_visa.gif", :alt => "Visa", :border => "0", :hspace => "0", :vspace => "0" %>
  <%= image_tag "logo_visa_debit.gif", :alt => "Visa Debit", :border => "0", :hspace => "0", :vspace => "0" %>
  <%= image_tag "logo_solo.gif", :alt => "Solo", :border => "0", :hspace => "0", :vspace => "0" %>
</div>
