  <div class="right_our_trips_stretch">
    <div class="padding">
    <h2 class="our_next_trip">Bookings</h2>
    <br />
      <ul class="tick_bullets">
        <li>Safe &amp; Secure Bookings</li>
        <li>Hassle Free Refunds</li>
        <li>Hassle Free Booking Amendments</li>
      </ul>
    </div><%= image_tag "blue_bottom.gif", :alt => " ", :border => "0", :hspace => "0", :vspace => "0" %>
  </div>