  <div class="right_our_trips_stretch">
    <div class="padding">
    <h2 class="our_next_trip">Why Us?...</h2>
      <ul class="star_bullets">
        <li>Quality UK Adventures</li>
        <li>Awesome Trip Leaders</li>
        <li>Action-Packed Itineraries</li>
        <li>Legendary Local Guides</li>
        <li>More Free Time</li>
      </ul>
    </div><%= image_tag "blue_bottom.gif", :alt => " ", :border => "0", :hspace => "0", :vspace => "0" %>
  </div>