  <div class="right_our_trips_stretch">
    <div class="padding">
    <h2 class="padlock">Accounts</h2>
      <ul class="tick_bullets">
        <li>Safe &amp; Secure</li>
        <li>Quick &amp; Easy</li>
        <li>Manage Your Account</li>
        <li>Change Your Settings</li>
      </ul>
    </div><%= image_tag "blue_bottom.gif", :alt => " ", :border => "0", :hspace => "0", :vspace => "0" %>
  </div>