<% hide_right %>
<% @page_title = "Mini Guides Download" %>

<h1>
  Thanks! <br />
  We hope your students enjoy the mini-guides.
</h1>

<div class="float-left">
  <%= image_tag "students.png", :class => 'students-image' %>
  
  <p>
    Boost your social programme and save time with our free handy A4 mini-guides.
  </p>
</div>

<div class="float-left paragraph-spacing">
  <p>
    Click to open a mini-guide.
  </p>
  
  <ul>
    <li>
      <a href="/documents/mini-guides/dont-be-a-tourist-liverpool-mini-guide-sem1-2013-14.pdf">
        Don't Be A Tourist Liverpool Mini-Guide
      </a>
    </li>
    
    <li>
      <a href="/documents/mini-guides/dont-be-a-tourist-newcastle-mini-guide-sem1-2013-14.pdf">
        Don't Be A Tourist Newcastle Mini-Guide
      </a>
    </li>
    
    <li>
      <a href="/documents/mini-guides/dont-be-a-tourist-oxford-mini-guide-sem1-2013-14.pdf">
        Don't Be A Tourist Oxford Mini-Guide
      </a>
    </li>
    
    <li>
      <a href="/documents/mini-guides/dont-be-a-tourist-stratford-upon-avon-mini-guide-sem1-2013-14.pdf">
        Don't Be A Tourist Stratford Mini-Guide
      </a>
    </li>
    
    <li>
      <a href="/documents/mini-guides/dont-be-a-tourist-york-mini-guide-sem1-2013-14.pdf">
        Don't Be A Tourist York Mini-Guide
      </a>
    </li>
  </ul>
</div>

<div class="clear"></div>