<% hide_basket_expire %>

<% @page_title = "Thank you" %>

<h1><%= @page_title %></h1>

 
<p>You are on the reserve list! If places come available, we'll let you know immediately.</p>
 
<p><%= link_to "Have you seen our other trips?", :controller => "trip", :action => "list" %> Book now to guarantee your places!</p>
