<% @page_title = "Thank you" %>

<h1><%= @page_title %></h1>

<p>Thank you for taking the time to complete the contact form. We will respond to your request as soon as possible.</p>

<p><%= link_to 'Continue browsing', :action => 'index' %></p>
