<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>Don't be a Tourist - <%= @page_title %></title>
  <!-- STYLESHEETS -->
  <%= stylesheet_link_tag "webstyle.css" %>
  <%= stylesheet_link_tag "tnymc.css" %>
  <%= stylesheet_link_tag "lightbox.css" %>
  <%= stylesheet_link_tag "lytebox.css" %>
  <!--[if lt IE 7]>
  <style type="text/css">
    .photos_pic span, .top_home_pic span, .basket_checkout_navigation span, .benefit_banner_image span { behavior: url(../iepngfix.htc); }
  </style>
  <![endif]-->


  <!-- JAVASCRIPTS -->

  <!-- horrible hacky method to get a jQuery slider on the home page; 08/01/2014 -->
  <% if (@page_name != "home_page") %>
    <%= javascript_include_tag "prototype" %>
    <%= javascript_include_tag "scriptaculous" %>
    <%= javascript_include_tag "swfobject" %>
    <%= javascript_include_tag "lytebox.js" %>
    <%= javascript_include_tag "fancyzoom.js" %>
    <% if @include_tinymce_script -%>
      <%= javascript_include_tag "tiny_mce/tiny_mce.js" %>
      <%= javascript_include_tag "tiny_mce_config" %>
    <% end -%>
    <% if yield :scripts %>
      <%= yield :scripts %>
    <% end %>
    <script type="text/javascript">
      // <![CDATA[ var userflyHost = (("https:" == document.location.protocol) ? "https://secure.userfly.com" : " http://asset.userfly.com"); document.write(unescape("%3Cscript src='" + userflyHost + "/users/75222/userfly.js' type='text/javascript'%3E%3C/script%3E")); // ]]>
    </script>
    <script>
      document.observe('dom:loaded', function (){

        $('toggleswitch').observe('click', function () {
          if($(this).innerHTML == 'Show all'){
            $(this).innerHTML = 'Hide all';
            $$(".toggleswitch-individual").each(function(Elem) { Elem.innerHTML = 'Hide' });
            $$(".day-it-toggled").each(Element.show);
          }
          else {
            $(this).innerHTML = 'Show all';
            $$(".toggleswitch-individual").each(function(Elem) { Elem.innerHTML = 'Show' });
            $$(".day-it-toggled").each(Element.hide);
          }

        });
      });

      function daytoggle(div, item) {
        Effect.toggle(div, 'slide');

        if($(item).innerHTML == 'Show'){
          $(item).innerHTML = 'Hide';
        }
        else {
          $(item).innerHTML = 'Show';
        }
      }
    </script>
    <script>
      $(document).observe('dom:loaded', function() {
        new FancyZoom('how-to-book-link1', {width:760, height:600});
        new FancyZoom('how-to-book-link2', {width:760, height:600});
        new FancyZoom('activities-link', {width:760, height:600});
        new FancyZoom('accommodation-link', {width:760, height:600});
      });
    </script>
  <% else %>
    <%= stylesheet_link_tag "orbit.css" %>
  <% end %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-24231686-1', 'auto');
    ga('send', 'pageview');
  </script>

  <script>
    (function() {
      var _fbq = window._fbq || (window._fbq = []);
      if (!_fbq.loaded) {
        var fbds = document.createElement('script');
        fbds.async = true;
        fbds.src = '//connect.facebook.net/en_US/fbds.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(fbds, s);
        _fbq.loaded = true;
      }
      _fbq.push(['addPixelId', '1586441674909342']);
    })();
    window._fbq = window._fbq || [];
    window._fbq.push(['track', 'PixelInitialized', {}]);
  </script>
  <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=1586441674909342&amp;ev=PixelInitialized" /></noscript>

  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <meta name="p:domain_verify" content="9c419b91f3618331bfbb15fa4e9be90d"/>
</head>

<% banners = HomeBanner.active.position -%>
<% if yield :body %>
  <%= yield :body %>
<% else %>
  <% if @page_name == "home_page" && ((banners.length == 1) || banners.empty?) -%>
    <body>
  <% elsif (@page_name == "home_page" && banners.length > 1) -%>
    <body>
  <% else -%>
    <body>
  <% end -%>
<% end %>

<a name="top"></a>
<p class="skip"><a href="#content" accesskey="s">Skip to the main content</a></p>

<!-- TOP BANNER -->

<% if @page_name == "home_page" %>
  <div class="top_home">
<% elsif @page_name == "universities" %>
  <div class="top_home">
<% else %>
  <div class="top">
<% end %>

  <div class="inner">

    <% if @page_name == "home_page" %>
      <%= link_to image_tag("logo.gif", :alt => "Don't be a Tourist", :title => "Don't be a Tourist", :border => "0", :hspace => "0", :vspace => "0", :class => "logo")+ '', {:controller => 'web', :action => 'index'} %>
    <% elsif @page_name == "universities" %>
      <%= link_to image_tag("logo.gif", :alt => "Don't be a Tourist", :title => "Don't be a Tourist", :border => "0", :hspace => "0", :vspace => "0", :class => "logo")+ '', {:controller => 'web', :action => 'index'} %>
    <% else %>
      <%= link_to image_tag("logo_blue.gif", :alt => "Don't be a Tourist", :title => "Don't be a Tourist", :border => "0", :hspace => "0", :vspace => "0", :class => "logo")+ '', {:controller => 'web', :action => 'index'} %>
    <% end %>

    <div class="top_navs">

      <!-- TOP NAVIGATION -->

      <div class="nav">
        <% form_tag "/trip/search", :method => :get do %>
          <%= text_field_tag :search_criteria, nil, :placeholder => "Search" %>
          <%= submit_tag "Go", :class => "search-button" %>
        <% end %>

        <% if session[:user_id] %>
          <%= link_to "Your Bookings", {:controller => "user", :action => "home"}, {:class => "your_bookings", :accesskey => "6"} %>
        <% else %>
          <%= link_to "Your Bookings", {:controller => "user", :action => "login"}, {:class => "your_bookings", :accesskey => "6"} %>
        <% end %>
      </div>

      <!-- MAIN NAVIGATION -->

      <div class="main_nav">
        <% link_to "Blog", "http://dontbeatourist.wordpress.com/", :target => "_blank" %>
        <%= link_to "Blog", "http://blog.dontbeatourist.co.uk/", :target => "_blank" %>
        <%= link_to "Contact us", {:controller => "web", :action => "contact"}, {:accesskey => "2"} %>
        <%= link_to "Support", "http://dontbeatourist.helpscoutdocs.com", :target => "_blank" %>
        <%#= link_to "Special Offers", {:controller => "web", :action => "special_offers"}, {:accesskey => "9"} %>
        <%#= link_to "What's it like?", {:controller => "web", :action => "past_trips"}, {:accesskey => "8"} %>
        <%= link_to "Info for universities", "http://www.dbat.co.uk/", :target => "_blank" %>
        <%= link_to "Search all tours", {:controller => "trip", :action => "list"}, {:accesskey => "7"} %>
      </div>
    </div>
  </div>

</div>

<!-- HOMEPAGE TOP BANNER -->
<% if @page_name == "home_page" %>
  <div class="top_home_main home-page">
    <div class="inner home-inner">

      <div class="home-banner-inner">
        <div class="university-cta">
          <h2>Find YOUR next ADVENTURE!</h2>

          <div class="university-cta-area">
            <% unless @universities.blank? %>
              <div class="half_width_item half_width_item_left">
                <% form_tag "#", :method => :get, :class => 'university-select' do %>
                  <%= label_tag :uni_id, "<strong>My university</strong> (or nearest me)".html_safe %>
                  <%= select_tag(:uni_id, options_for_select(@universities.map{|x| [x.name, x.slug.name]}), {:class => "cta"}) %>
                  <%= submit_tag "Go", :class => "go" %>
                <% end %>
              </div>
            <% end %>

            <!--
            <% unless @all_trips.blank? %>
              <div class="half_width_item half_width_item_right">
                <% form_tag "/trip/show", :method => :get do %>
                  <%= label_tag :id, "Trip name", :class => "bold-label" %>
                  <%= select_tag(:id, options_for_select(@all_trips.map{|x| [x.name, x.id]}), {:class => "cta"}) %>
                  <%= submit_tag "Go", :class => "go" %>
                <% end %>
              </div>
            <% end %>
            -->

            <% unless @all_trips.blank? %>
              <div class="half_width_item half_width_item_right">
                <% form_tag "/trip/search", :method => :get do %>
                  <%= label_tag :trip_group_id, "Trip name", :class => "bold-label" %>
                  <%= select_tag(:trip_group_id, options_for_select(@trip_groups.map{|x| [x.name, x.id.to_s]}, :selected => params[:trip_group_id]), {:class => "cta"}) %>
                  <%= submit_tag "Go", :class => "go" %>
                <% end %>
              </div>
            <% end %>

            <div class="clear"></div>
          </div>
        </div>
      </div>

      <div class="banner-wrapper">

      <ul data-orbit>
      <% for banner in banners -%>
        <% content_tag :div, :id => "banner_#{banner.id}", :class => "home_banner_container" do -%>
          <%= render 'layouts/home_banner', :banner => banner %>
        <% end -%>
      <% end -%>
      </ul>

      </div>

    </div>
  </div>


<% end %>

<!-- MAIN CONTENT -->
<div class="inner white-bg">

  <% unless hide_flash? %>
    <%- flash.each do |name, msg| -%>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <%- end -%>
  <% end -%>

  <% unless hide_right? %>

  <% if (@page_name == "home_page") or (@page_name == "universities") %>
    <div id="content_homepage">
      <%= @content_for_layout %>
     </div>
    <% else %>
    <div id="content">
      <%= @content_for_layout %>
     </div>
  <% end %>

    <div class="right">
      <%= render :partial => "shared/your_booking" %>
      <% if yield :right %>
        <%= yield :right %>
      <% else %>
        <%= render :partial => 'web/right_main' %>
      <% end %>
    </div>

    <div class="clear"></div>

  <% else %>

    <% if (@page_name == "home_page") or (@page_name == "universities") %>
      <div id="content_homepage">
    <% else %>
      <div id="content_long">
    <% end %>
      <%= @content_for_layout %>
      <div class="clear"></div>
     </div>

  <% end %>

</div>

<!-- IN-PAGE FOOTER -->

<div class="bottom">
  <div class="inner">
    <h2>Follow Us</h2>
    <div><a href="http://www.facebook.com/dontbeatourist" target="_blank"><%= image_tag "facebook.gif", :alt => "Facebook", :border => "0", :hspace => "0", :vspace => "0" %></a></div>
    <div><a href="http://twitter.com/dontbeatourist" target="_blank"><%= image_tag "twitter.gif", :alt => "Twitter", :border => "0", :hspace => "0", :vspace => "0" %></a></div>
    <div><a href="http://www.youtube.com/dontbeatourist" target="_blank"><%= image_tag "youtube.gif", :alt => "YouTube", :border => "0", :hspace => "0", :vspace => "0" %></a></div>
   </div>
</div>

<!-- BLACK FOOTER -->

<div id="footer">
  <div class="inner">

    <% unless (@page_title == "Newsletter Sign Ups") %>
      <% @newsletter_sign_up = NewsletterSignUp.new %>
    <% end %>
    <div class="email-signup half_width_item">
      <% form_for @newsletter_sign_up do |f| %>

        <div class="field">
          <%= f.label :email, "Email address:" %>
          <%= f.text_field :email %>
        </div>

      <% end %>
    </div>


      <div class="facebook-likes half_width_item float-right">
        <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fdontbeatourist&amp;width=79&amp;height=21&amp;colorscheme=light&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;send=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:230px; height:21px;" allowTransparency="true"></iframe>
      </div>

      <div class="clear"></div>


      <div class="col">
        <h4>Find a Tour</h4>
        <%= link_to "Destinations", :controller => "destination", :action => "list" %>
        <%= link_to "Find a tour", :controller => "trip", :action => "list" %>
        <%= link_to "Login", :controller => "user", :action => "login" %>
        <%= link_to "Safety", :controller => "web", :action => "safety" %>
      </div>

      <div class="col">
        <h4>What's it like?</h4>
        <%= link_to "What's it like", :controller => "web", :action => "past_trips" %>
        <%= link_to "Questions", :controller => "web", :action => "faqs" %>
        <%= link_to "Our Ethics", :controller => "web", :action => "our_ethics" %>
        <%= link_to "About Us", :controller => "web", :action => "about_us" %>
      </div>

      <div class="col">
        <h4>Contact Us</h4>
        <%= link_to "Home", :controller => "web", :action => "index" %>
        <%= link_to "News", :controller => "news" %>
        <%= link_to "Contacts Us", :controller => "web", :action => "contact" %>
        <%= link_to "Terms &amp; Conditions", :controller => "web", :action => "terms" %>
      </div>

      <div class="col">
        <h4>Our Address</h4>
        <% @site_profile = SiteProfile.first %>
        <%= @site_profile.address.gsub(/\n/, "<br />")  %>
      </div>

      <div class="clear"></div>


      <p class="small"><%= link_to "&copy; Don't be a Tourist", :controller=>"web", :action=>"index" %> | <a href="http://www.eskimosoup.co.uk" target="_blank">Web design by eskimosoup</a> | <%= link_to "Accessibility", {:controller => "web", :action => "accessibility"}, {:accesskey => "1"} %> | <a href="http://validator.w3.org/check?uri=referer" target="_blank">Valid XHTML</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer" target="_blank">Valid CSS</a></p>

  </div>
</div>

  <% if (@page_name == "home_page") %>
    <%= javascript_include_tag "slider/jquery.js" %>
    <%= javascript_include_tag "slider/foundation.js" %>
    <%= javascript_include_tag "slider/foundation.orbit.js" %>

    <script>
      $(document).foundation({
        orbit: {
          animation: 'slide',
          timer: true,
          timer_speed: 5000,
          animation_speed: 500,
          navigation_arrows: true,
          next_on_click: true,
          swipe: true,
          pause_on_hover: true,
          resume_on_mouseout: true,
          bullets: false,
          slide_number: false
        }
      });



      $(document).ready(function() {
        $('.university-select').submit( function() {
          var  uniId = $('#uni_id').find(":selected").val();

          window.location = '/universities/' + uniId;

          return false;
        });

        var docWidth = 0;
        if ($(window).width() < 1920) {
          docWidth = (1920 - $(window).width()) / 2;


          $('.top_home_main.home-page').height($(window).height() / 100 * 80);
          $('.top_home_main .home-inner').height($(window).height() / 100 * 80);
          $('.top_home_main .home-inner img').height($(window).height() / 100 * 80);
          $('.home-banner-large').css("left", "-" + docWidth + "px");

          $('.orbit-next').css("left", ($(window).width() - 26) + "px");
        } else {
          // set this to match the height of the image
          //$('.top_home_main.home-page').height("631px");
          $('.top_home_main.home-page').height("694px");
          $('.top_home_main .home-inner').height("694px");
          $('.top_home_main .home-inner img').height("694px");
        }
      });

      $(window).resize(function() {
        var docWidth = 0;

        console.log($(window).width());

        if ($(window).width() < 1920) {
          docWidth = (1920 - $(window).width()) / 2;


          $('.top_home_main.home-page').height($(window).height() / 100 * 80);
          $('.top_home_main .home-inner').height($(window).height() / 100 * 80);
          $('.top_home_main .home-inner img').height($(window).height() / 100 * 80);
          $('.home-banner-large').css("left", "-" + docWidth + "px");

          $('.orbit-next').css("left", ($(window).width() - 26) + "px");
        } else {
          $('.home-banner-large').css({"left": "-50%", "marginLeft": "960px"});
          // set this to match the height of the image
          $('.top_home_main.home-page').height("734px");
          $('.top_home_main .home-inner').height("734px");
          $('.top_home_main .home-inner img').height("734px");
        }
      });
    </script>
  <% end %>
  <script type="text/javascript" src="//s3.amazonaws.com/scripts.hellobar.com/488349e007034efe1027a6c5b702e49bd2dae7a5.js"></script>
</body>

</html>
